/*Задать размеры боксов*/
/*Добавить отступы между текстом*/
/*И между секциями*/
/*Выравнивание картинок относително боксов*/
/*Выравнивание текста по центру в карточках товара*/
/*Отрабоать отступы в навигации*/
/*Оцентровать текст в формах*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src:url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.first-screen,
.banners,
.goods,
.seo,
.news-and-subscription,
.delivery {
  margin-bottom: 80px;
}

.title {
  padding: 0;
  margin-bottom: 56px;
}

.navigation-link,
.text-blog,
::placeholder,
.pagination-link {
  line-height: 20px;
}

.link-small,
.text-small,
.information-href,
.catalog-filter-title,
.select-control,
.range-toggle,
.catalog-filter-label,
.control-label {
  font-size: 14px;
  line-height: 20px;
}

.call-me a,
.button-white,
.button-red,
.form-label label {
  font-weight: 700;
  line-height: 20px;
}

.title,
.inner-header-title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.banners .title,
.goods .title,
.seo-container .title,
.text-prod {
  text-align: center;
}

.title-prod {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 8px;
}

.contacts-container .title-prod,
.call-me a {
  text-align: left;
}

.choosen,
.breadcrumbs-link,
.button-submit-filter {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.academy-href,
.href-the-smallest {
  font-size: 12px;
  line-height: 16px;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 104px;
  margin-bottom: 21px;
}

.navigation {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 34px;
  padding-bottom: 34px;
}

.logo {
  margin-right: 16px;
}

.navigation-list {
  max-width: 585px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  flex-direction: row;
  align-items: center;
}

.navigation-link {
  padding: 8px 16px;
}

.navigation-user {
  margin-left: auto;
}

.call-me:nth-of-type(1) {
  padding-right: 10px;
  font-weight: 700;
}

.navigation-link-small {
  padding: 7px;
}

.link-small-search,
.link-small-login,
.link-small-basket {
  position: relative;
  padding: 6px 16px;
}

.link-small-search::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icons/icon-nav-search.svg") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

.link-small-login::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icons/icon-nav-log.svg") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

.link-small-basket::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icons/icon-nav-cart.svg") no-repeat;
  width: 18px;
  height: 18px;
  float: left;
  top: 50%;
  transform: translateY(-50%);
}

.first-screen,
.first-screen-bottom {
  width: 100%;
}

.slider-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.slider-list-item:nth-of-type(1) {
  width: 470px;
  margin-left: 70px;
}

.slider-list-item:nth-of-type(2) {
  width: 312px;
}

.slider-list-item:nth-of-type(3),
.slider-list-item:nth-of-type(4) {
  width: 100px;
}

.button-white,
.button-red {
  text-align: center;
}

.first-screen-bottom {
  display: flex;
  justify-content: space-between;
}

.ice-cream-title {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin-bottom: 24px;
}

.ice-cream-description {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 60px;
}

.ice-cream-demo {
   position: relative;
   width: auto;
}

.ice-cream-demo img {
  z-index: 1;
}

.circle-wide {
   width: 312px;
   height: 312px;
   background: #FFCBD8;
   border-radius: 50%;
   position: absolute;
   top: 102px;
   z-index: -1;
}

.circle-narrow {
  width: 100px;
  height: 100px;
  background: #FFCBD8;
  opacity: 40%;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  z-index: -1;
}

.slider-pagination {
  display: flex;
  justify-content: flex-start;
}

/*Отступ для примера*/
.slider-pagination-dots {
  margin-right: 5px;
}

.social-right {
  display: flex;
  justify-content: flex-end;
}

/*Отступ для примера*/
.social-right-icon {
  margin-left: 15px;
}

.banners-box {
  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 570px;
  min-height: 268px;
  background-color: #FF7799;
  border-radius: 16px;
}

.banner-words:nth-of-type(1) {
  max-width: 345px;
}

.banner-words:nth-of-type(2) {
  max-width: 336px;
}

.banner-raspberry,
.banner-marshmallow {
  position: relative;
}

.banner-raspberry img {
  position: absolute;
  right: 15px;
  bottom: 0;
}

.banner-marshmallow img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.title-small {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.banner-words h3 {
  margin: 40px auto auto 40px;
}

.banner .text {
  margin: 16px auto 44px 40px;
}

.banner .button-white {
  margin-left: 72px;
}

.empty:nth-of-type(1) {
  margin-bottom: 39px;
  padding: 1px;
  /*В сумме отступ снизу равняется 40px*/
}

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  align-items: flex-end;
}

.product-card {
  width: 270px;
  height: 332px;
  border-radius: 8px;
  position: relative;
  z-index: 1;
  /* Сделать отступ, чтобы в случае переполнения был sexy-отступ между рядами?
  margin-bottom: 23px;*/
}

.product-card-bottom {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px 28px 40px ;
}

.add-to-basket::before {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/icons/icon-pink-cart.svg") no-repeat;
  width: 32px;
  height: 32px;
  float: left;
  bottom: 20px;
  right: 40px;
  transform: translateY(-50%);
}

.product-card-link img {
  position: relative;
  left: 50px;
}

.backing-card {
  position: absolute;
  width: 270px;
  height: 281px;
  border-radius: 8px;
  background-color: #FFFFFF;
  z-index: -1;
  bottom: 0;
}

.seo {
  height: 480px;
  background-image: url('../img/ceo-waffle-bg.jpg');
  background-repeat: repeat;
  background-size: 100%;
  border-radius: 16px;
}

.seo-container {
  width: 1122px;
  height: 432px;
  background-color: #FFFFFF;
  border-radius: 16px;
  position: relative;
  top: 24px;
  right: 24px;
  bottom: 24px;
  left: 24px;
}

.seo-container .title {
  margin-top: 56px;
}

.plug {
  padding: 1px;
  width: 100%;
}

.advantages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantage {
  display: inline-flex;
  width: 513px;
  margin-bottom: 40px;
}

.advantage .text {
  padding-left: 16px;
}

.news-and-subscription {
  display: flex;
  justify-content: space-between;
}

.news {
  width: 570px;
  height: 216px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.subscription {
  width: 570px;
  height: 220px;
  background-color: #FFFFFF;
  border-radius: 16px;
}

.news {
  display: flex;
  flex-direction: column;
  background-image: url('../img/news-and-subs/ice-cream-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-blog {
  margin: 32px auto 12px 32px;
}

.news a {
  margin-left: 32px;
}

.subscription {
  background-image: url('../img/news-and-subs/post-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  position: relative;
  z-index: -1;
}

.subscription-container {
  display: flex;
  flex-direction: column;
}

.subscription-container .text {
  margin: 32px 32px 42px 32px;
}

.subscription-form {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.subscription-form input,
.delivery-form-date input,
.delivery-form-phone input,
.delivery-form-address input {
  width: inherit;
  height: 48px;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
}

.subscription-form input {
  width: 332px;
}

.backing-sub {
  position: absolute;
  width: 558px;
  height: 208px;
  border-radius: 16px;
  background-color: #FFFFFF;
  z-index: -1;
  top: 6px;
  left: 6px;
}

/*После разметки формы заменить значение высоты на автоматическое*/
.delivery {
  height: auto;
  background-image: url('../img/delivery-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delivery-about {
  width: 375px;
  margin: 0 auto 0 100px;
}

.delivery-form-inputs {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  border-radius: 8px;
  position: relative;
  margin: 64px 64px 64px auto;
}

.delivery-form-inputs .text {
  width: 380px;
  margin: 40px 80px auto 40px;
}

.delivery-form-date {
  width: 117px;
  height: 76px;
  margin: 32px 16px 20px 40px;
}

.delivery-form-phone {
  width: 287px;
  height: 78px;
  margin: 32px 40px 20px auto;
}

.delivery-form-address {
  width: 420px;
  height: 78px;
  margin: auto 40px 32px 40px;
}

.delivery-form-inputs .button-red {
  flex-grow: 1;
  margin: auto 173px 42px 175px;
}

/*После разметки контактов заменить значение высоты на автоматическое*/
.feedback {
  height: 492px;
  background-image: url('../img/feedback-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 16px;
}

.contacts {
  width: 343px;
  height: 364px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  background-color: #FCFCFC;
  border-radius: 16px;
  top: 64px;
  bottom: 64px;
  left: 64px;
}

.contacts-text {
  padding-top: 40px;
  padding-bottom: 12px;
  padding-left: 40px;
}

.contacts .title-prod {
  text-align: left;
  padding-bottom: 24px;
  padding-left: 40px;
  margin: 0;
}

.contacts .text {
  padding-bottom: 12px;
  padding-left: 40px;
}

.call-me {
  padding-left: 40px;
}

.contacts .text-small {
  padding-bottom: 32px;
  padding-left: 40px;
}

.contacts-button {
  text-align: center;
}

.footer {
  margin-top: 48px;
  margin-bottom: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-left {
  display: flex;
  justify-content: flex-end;
}

.social-left-icon {
  margin-right: 15px;
}

.more {
  display: grid;
  grid-row-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.to-academy {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
}

.breadcrumbs-item {
  margin-right: 27px;
}

.catalog-filter {
  width: 807px;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 11px;
  grid-template-areas:
  "sorting price fats fats"
  "topping topping topping accept"
}

/*Сортировка:*/
.catalog-filter-group:nth-of-type(1) {
  grid-area: sorting;
}
/*Цена:*/
.catalog-filter-group:nth-of-type(2) {
  grid-area: price;
}
/*Жирность:*/
.catalog-filter-group:nth-of-type(3) {
  grid-area: fats;
}
/*Наполнители:*/
.catalog-filter-group:nth-of-type(4) {
  grid-area: topping;
}
/*Применить*/
.catalog-filter-group a {
  grid-area: accept;
}

/*Жирность:*/
.catalog-filter-list:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 36px;
}

.paginataion-list {
  display: flex;
  margin-left: auto;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 16px;
}

.pagination-more {
  margin-left: auto;
}
